# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor
.capacitor
ios/App/Pods
ios/App/Podfile.lock

# Android
android/.gradle
android/app/build
android/build
android/.idea
android/local.properties
android/*.iml
android/.externalNativeBuild
android/.cxx
*.keystore
android/key.properties
android/app/release

# iOS
ios/App/build
*.xcworkspace
!ios/App/App.xcworkspace
*.xcuserdata
*.xcuserstate

